
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #b1b5be;
    font-family: Arial, sans-serif;
}
.flex-items {
    border:2px solid #000000;
    border-radius: 10px;
    text-align: center;
    color:white;
    padding: 1em;
    margin:10px;



}
  .header {
    background-color: #a22064;
  
  }
  .articles {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #16b781dd;
  }

  
  .inner {
 
    background-color: #e51759;
    



  }

  .aside {
    
    background-color: #00558c;
    

  }
 
  
  .footer {
   
    background-color: #e86b29;
    
  }

  @media screen and (min-width:700px) {

.flex-container2 {
  display: flex;
}
.articles {
order: 1;
flex:3;


}
.aside {
flex:1;
align-content: center;

}
}